<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{page.title}}</title>

  <meta charset="UTF-8">
  <meta name="google" content="notranslate">
  <meta http-equiv="Content-Language" content="en">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="HandheldFriendly" content="True">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- Facebook / Open Graph -->
  <meta property="og:title" content="{{page.title}}">
  <meta property="og:image" content="/images/fb-open-graph.png">
  <meta property="og:description" content="{{page.description}}">
  <meta property="og:site_name" content="{{page.title}}">
  
  <!-- Twitter cards -->
  <meta name="twitter:title" content="{{page.title}}">
  <meta name="twitter:description" content="{{page.description}}">
  <meta name="twitter:image" content="/images/fb-open-graph.png">

  <meta name="description" content="{{page.description}}">
  
  <link rel="stylesheet" href="css/app.css" media="screen" title="no title" charset="utf-8">
  
  <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">

</head>
  
<body>

  <div class="wrapper">
  
  {{> 'header'}}

  {{#block "body"}}
  {{/block}}

  {{> 'footer'}}

  </div>
  <script type="text/javascript" src="/js/site.js"></script>
  {{> 'tracking'}}
</body>
</html>
