---
title: Soochi
description: Soochi is a list of well designed products.
---

{{#extend "master"}}
{{#content "body"}}

			<section class="list-container container">
				<ul class="list">

				{{#with products}}
				  {{#each products}}

							<li class="list-item">
								<a href="{{itemUrl}}" title="{{name}} - {{reason}}" target="_blank">
									<article class="list-item-article">
										<figure class="image-loading">
											<img data-src="{{imageUrl}}" src="/images/loader.svg" alt="" />
											<noscript>
												<img src="{{imageUrl}}" />
											</noscript>
										</figure>
										<header>
											<h3 class="store-name">{{store}}</h3>
											<h1 class="product-name">{{name}}</h1>
											<h2 class="price">₹ {{price}}</h2>
											<h4 class="reason">{{reason}}</h4>
										</header>
									</article>
								</a>
							</li>

				  {{/each}}
				{{/with}}

				</ul>
			</section>

{{/content}}
{{/extend}}
