---
title: Soochi
description: Soochi is a list of well designed products.
---

{{#extend "master"}}
{{#content "body"}}

			<section class="list-container container">
				<ul class="list">

				{{#with products}}
				  {{#each products}}

					<li class="list-item">
						{{!-- Product --}}
						<a 
							href="{{itemUrl}}" 
							title="{{name}} - {{reason}}" 
							target="_blank"
							class="list-item__link">
							<article class="list-item-article">
								{{!-- Product Image --}}
								<figure class="image-loading">
									<img 
										data-src="{{imageUrl}}" 
										src="/images/loader.svg" 
										alt="{{name}}" 
										class="list-item__image" />
									<noscript>
										<img src="{{imageUrl}}" />
									</noscript>
								</figure>
								{{!-- Product Meta --}}
								<header>
									<h3 class="store-name">{{store}}</h3>
									<h1 class="product-name">{{name}}</h1>
									<h2 class="price">₹ {{price}}</h2>
								</header>
							</article>
						</a>
						{{!-- Reason --}}
						<a href="" target="_blank" class="reason truncate">
							{{reason}}
						</a>
					</li>

				  {{/each}}
				{{/with}}

				</ul>
			</section>

			<div class="suggest-button">
				<a 
					href="https://goo.gl/forms/nMd7t4SM1heu7yxI2" 
					target="_blank" 
					class="suggest-button__link">
					Suggest a product
				</a>
			</div>

{{/content}}
{{/extend}}
